#mainPane{
    -fx-background-color:#184E77 ;
    -fx-background-radius: 25;
    -fx-border-radius: 25;

}
#leftPane{
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-background-color: #168AAD;
}

#logInBtn{
    -fx-border-color: #C9E9D8;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #168AAD;
}

#createAcountBtn{
    -fx-border-color: #C9E9D8;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-background-color: #184E77;
}